@import "normalize";
@import "colors";
@import "fonts";
@import "effects";

::selection {
  color: $text-dark;
  background-color: $accent-main;
}

body {
  background-color: $background;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: $accent-secondary;
  transition: $hover-transition;
  transition-property: color, background-color;
  box-sizing: content-box;
  padding: .1em;
  border-radius: 4px;

  &:visited {
    color: $accent-secondary;
  }

  &:hover, &:active {
    color: $background;
    background-color: $accent-secondary;
  }
}

.accent-color {
  color: $accent-main;
}