// COLOR THEME A
$background: #f2f2f2;
$text-dark: #132640;
$text-light: #274B59;
$accent-main: #F2B705;
$accent-secondary: #1C588C;

// COLOR THEME B (Glacier)
//$color-background: #f2f2f2; // #ffffff
//$color-text-dark: #1D282B;
//$color-text-light: #CADFEB;
//$color-accent-main: #85583A;
//$color-accent-secondary: #325161