$curve: cubic-bezier(1,.25,0,.75);

$transition: all .2s $curve 0s;
$hover-transition: color 50ms $curve 0s;
$border-radius: 8px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;