@import "colors";
@import "fonts";
@import "effects";
@import "components";

//$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts";
//@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
//@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
//@import "./node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
//$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
//@import '~@fortawesome/fontawesome-free/scss/solid.scss';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';
$fa-font-path: "/webfonts";
@import "fontawesome/scss/fontawesome";
@import "fontawesome/scss/brands";
@import "fontawesome/scss/solid";

.markdown {
  font-size: 11.5pt;

  h1, h2, h3 {
    font-family: "Adelle", sans-serif;
    margin: 35px 0 15px;

    &:first-child {
      margin-top: 15px;
    }
  }

  h1, h2 {
    background-color: $text-light;
    color: $background;
    padding: 10px 10px 10px 15px;
    font-weight: normal;
  }

  h3 {
    font-weight: bold;
    font-size: 1.25em;
  }

  p {
    margin-top: .65em;
    line-height: 1.5em;
  }

  li {
    margin: .35em 0;
    line-height: 1.3em;
  }

  blockquote {
    box-sizing: border-box;
    border-left: 3px solid $accent-main;
    padding: .5em 0 .5em 1em
  }

  pre, code {
    font-family: "JetBrains Mono", monospace;
  }

  pre {
    background-color: #e6e6e6;
    padding: 1em 1.5em;
    border-radius: $border-radius;
    font-size: 0.938em;
  }

  :not(pre) code {
    background-color: #e6e6e6;
    border-radius: 3px;

    &:before,
    &:after {
      content: '\00a0';
    }
  }

  // Temporary table styling
  table {
    color: #333;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
  }

  table thead th,
  table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, .1);
  }

  table caption {
    padding: .5em;
  }

  table th,
  table td {
    padding: .5em;
    border: 1px solid lightgrey;
  }

  img {
    width: 70%;
    display: block;
    margin: 2em auto;
    text-align: center;
    //border-radius: $border-radius;
    box-shadow: $box-shadow;

    &.no-shadow {
      box-shadow: none;
    }
  }

  .video-wrapper {
    $width: .7;
    width: percentage($width); // 70%
    display: block;
    margin: 2em auto;
    position: relative;
    padding-bottom: 56.2% * $width; // 16:9
    background-color: #e6e6e6;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .external-link {
    @extend .button;

    padding: 1em;
    font-size: 1.15em;

    &:after {
      content: '\00A0\00A0\f35d';
      font-family: "Font Awesome 5 Free", serif;
      font-size: .85em;
      color: rgba($background, .85);
      transition: $transition;
      transition-property: color;
      transition-duration: 50ms;
    }

    &:hover {
      &:after {
        color: rgba($accent-secondary, .85);
      }
    }
  }

  .download-link {
    @extend .external-link;

    &:after {
      content: '\00A0\00A0\f56d';
    }
  }

  .github::before {
    content: '\f09b\00a0';
    font-family: "Font Awesome\ 5 Brands", serif;
    font-weight: 400;
  }

  .file::before {
    content: '\f15c\00a0';
    font-family: "Font Awesome\ 5 Free", serif;
    font-weight: 900;
  }

  .game::before {
    content: '\f11b\00a0';
    font-family: "Font Awesome\ 5 Free", serif;
    font-weight: 900;
  }

  .instructable::before {
    content: '\f5ae\00a0';
    font-family: "Font Awesome\ 5 Free", serif;
    font-weight: 900;
  }

  .map::before {
    content: '\f279\00a0';
    font-family: "Font Awesome\ 5 Free", serif;
    font-weight: 900;
  }

  .link-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;

    .external-link {
      margin: 1em;
    }
  }
}